!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body.blank-body
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"
      .container.listing-container
        .content.tile{id: 'job-listing'}
          = link_to "Back to GitLab Jobs", "/jobs/apply/"
          %h2= job[:title]
          %h4= job[:location][:name]
          %h5 Department: #{job[:departments].first[:name]}
          %a.btn.cta-btn.orange.margin-top20.margin-bottom40{ href: "https://boards.greenhouse.io/gitlab/jobs/#{job[:id]}", target: "_blank" } Apply now
          = CGI.unescapeHTML(job[:content]).html_safe
          %a.btn.cta-btn.orange{ href: "https://boards.greenhouse.io/gitlab/jobs/#{job[:id]}", target: "_blank" } Apply now
      .footer-container
        = partial "includes/layout/footer"
